In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
username = 'postgres'
password = ''
endpoint = ''
database = 'nba_betting'
port = '5432'

In [3]:
connection= create_engine(f'postgresql+psycopg2://{username}:{password}@{endpoint}/{database}').connect()

In [4]:
df = pd.read_csv("2022-04-09T21-48-00.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1212 entries, 0 to 1211
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            1212 non-null   object
 1   game_id         1212 non-null   int64
 2   game_url        1212 non-null   object
 3   home            1212 non-null   bool
 4   league_year     1212 non-null   object
 5   opponent        1212 non-null   object
 6   opponent_score  1212 non-null   int64
 7   result          1212 non-null   object
 8   score           1212 non-null   int64
 9   spread          1212 non-null   float64
 10  spread_result   1212 non-null   object
 11  team            1212 non-null   object
dtypes: bool(1), float64(1), int64(3), object(7)
memory usage: 105.5+ KB

In [6]:
df.head()

,date,game_id,game_url,home,league_year,opponent,opponent_score,result,score,spread,spread_result,team
0,2022-04-03,251719,/sport/basketball/nba/boxscore/251719,True,2021-2022,WAS,102,W,144,-13.0,W,BOS
1,2022-04-01,251706,/sport/basketball/nba/boxscore/251706,True,2021-2022,IND,123,W,128,-15.0,L,BOS
2,2022-04-08,251756,/sport/basketball/nba/boxscore/251756,True,2021-2022,MIL,131,L,101,10.5,L,DET
3,2022-04-08,251761,/sport/basketball/nba/boxscore/251761,True,2021-2022,CHA,133,L,117,-2.0,L,CHI
4,2022-04-08,251758,/sport/basketball/nba/boxscore/251758,True,2021-2022,CLE,107,W,118,-8.5,W,BKN

In [7]:
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.head()

,date,game_id,game_url,home,league_year,opponent,opponent_score,result,score,spread,spread_result,team
0,2022-04-03,251719,/sport/basketball/nba/boxscore/251719,True,2021-2022,WAS,102,W,144,-13.0,W,BOS
1,2022-04-01,251706,/sport/basketball/nba/boxscore/251706,True,2021-2022,IND,123,W,128,-15.0,L,BOS
2,2022-04-08,251756,/sport/basketball/nba/boxscore/251756,True,2021-2022,MIL,131,L,101,10.5,L,DET
3,2022-04-08,251761,/sport/basketball/nba/boxscore/251761,True,2021-2022,CHA,133,L,117,-2.0,L,CHI
4,2022-04-08,251758,/sport/basketball/nba/boxscore/251758,True,2021-2022,CLE,107,W,118,-8.5,W,BKN

In [9]:
mask = (df['date'] >= "2022-02-28") & (df['date'] <= "2022-04-08")

In [10]:
df.loc[mask]

,date,game_id,game_url,home,league_year,opponent,opponent_score,result,score,spread,spread_result,team
0,2022-04-03,251719,/sport/basketball/nba/boxscore/251719,True,2021-2022,WAS,102,W,144,-13.0,W,BOS
1,2022-04-01,251706,/sport/basketball/nba/boxscore/251706,True,2021-2022,IND,123,W,128,-15.0,L,BOS
2,2022-04-08,251756,/sport/basketball/nba/boxscore/251756,True,2021-2022,MIL,131,L,101,10.5,L,DET
3,2022-04-08,251761,/sport/basketball/nba/boxscore/251761,True,2021-2022,CHA,133,L,117,-2.0,L,CHI
4,2022-04-08,251758,/sport/basketball/nba/boxscore/251758,True,2021-2022,CLE,107,W,118,-8.5,W,BKN
...,...,...,...,...,...,...,...,...,...,...,...,...
1097,2022-03-02,251490,/sport/basketball/nba/boxscore/251490,True,2021-2022,SAC,95,W,125,-6.0,W,NOP
1098,2022-03-11,251555,/sport/basketball/nba/boxscore/251555,True,2021-2022,UTA,102,W,104,5.5,W,SAS
1099,2022-03-09,251542,/sport/basketball/nba/boxscore/251542,True,2021-2022,TOR,119,L,104,1.0,L,SAS
1100,2022-03-07,251526,/sport/basketball/nba/boxscore/251526,True,2021-2022,LAL,110,W,117,-6.5,W,SAS
1109,2022-03-03,251497,/sport/basketball/nba/boxscore/251497,True,2021-2022,SAC,115,L,112,-6.5,L,SAS

In [11]:
needed_data = df.loc[mask]

In [12]:
needed_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 1109
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            297 non-null    datetime64[ns]
 1   game_id         297 non-null    int64
 2   game_url        297 non-null    object
 3   home            297 non-null    bool
 4   league_year     297 non-null    object
 5   opponent        297 non-null    object
 6   opponent_score  297 non-null    int64
 7   result          297 non-null    object
 8   score           297 non-null    int64
 9   spread          297 non-null    float64
 10  spread_result   297 non-null    object
 11  team            297 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 28.1+ KB

In [13]:
needed_data["id_num"] = needed_data["game_id"]
needed_data["link"] = needed_data["game_url"]
needed_data["home_team_short_name"] = needed_data["team"]
needed_data["away_team_short_name"] = needed_data["opponent"]
needed_data["open_line_home"] = needed_data["spread"]
needed_data["open_line_away"] = - needed_data["spread"]

/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/jeff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
needed_data = needed_data.drop(columns=['home', 'game_id', 'game_url', 'team', 'opponent', 'score', 'opponent_score', 'result', 'spread_result', 'spread'])

In [ ]:
needed_data["date"] = needed_data['date'].apply()

In [15]:
needed_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 0 to 1109
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  297 non-null    datetime64[ns]
 1   league_year           297 non-null    object
 2   id_num                297 non-null    int64
 3   link                  297 non-null    object
 4   home_team_short_name  297 non-null    object
 5   away_team_short_name  297 non-null    object
 6   open_line_home        297 non-null    float64
 7   open_line_away        297 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 20.9+ KB

In [17]:
needed_data

,date,league_year,id_num,link,home_team_short_name,away_team_short_name,open_line_home,open_line_away
0,2022-04-03,2021-2022,251719,/sport/basketball/nba/boxscore/251719,BOS,WAS,-13.0,13.0
1,2022-04-01,2021-2022,251706,/sport/basketball/nba/boxscore/251706,BOS,IND,-15.0,15.0
2,2022-04-08,2021-2022,251756,/sport/basketball/nba/boxscore/251756,DET,MIL,10.5,-10.5
3,2022-04-08,2021-2022,251761,/sport/basketball/nba/boxscore/251761,CHI,CHA,-2.0,2.0
4,2022-04-08,2021-2022,251758,/sport/basketball/nba/boxscore/251758,BKN,CLE,-8.5,8.5
...,...,...,...,...,...,...,...,...
1097,2022-03-02,2021-2022,251490,/sport/basketball/nba/boxscore/251490,NOP,SAC,-6.0,6.0
1098,2022-03-11,2021-2022,251555,/sport/basketball/nba/boxscore/251555,SAS,UTA,5.5,-5.5
1099,2022-03-09,2021-2022,251542,/sport/basketball/nba/boxscore/251542,SAS,TOR,1.0,-1.0
1100,2022-03-07,2021-2022,251526,/sport/basketball/nba/boxscore/251526,SAS,LAL,-6.5,6.5
1109,2022-03-03,2021-2022,251497,/sport/basketball/nba/boxscore/251497,SAS,SAC,-6.5,6.5

In [19]:
needed_data.to_sql("covers_odds", connection, if_exists="append", index=False)